body, html {
   margin: 0;
   padding: 0;
   text-align: center;
   background-color: #D8DDF3;
}

.header {
padding: 30px;
color: white;
font-family: 'Oswald', sans-serif;
background-color: #6664AD;
}

.header a { 
   font-family: 'Khand', sans-serif;
   color: black;
   text-decoration: none;
   font-size: 20px;
   margin-right: 40px;
}

.header a:hover {
   color: yellow;
}

.header a:active {
   color: yellow;
}

.cart a {
   font-size: 30px;
   color: blue;
   position: relative;
   bottom: 550px;
   right: -520px;
}
.main {
   margin: 2%;
}

.mobilepicture {
   display: none;
}

.contact h1 {
   padding: 20px;
   margin: 0.5%;
}

.contact input {
   font-size: 18px;
   
}

.contact input[type="submit"] {
   padding: 10px;
   border: none;
   color: white;
   background: black;
}

.footer a {
   font-size: 40px;
   display: inline;
   position: relative;
   bottom: -70px;
}

.submit {
   display: inline;
}

.products {
   margin: 5%;
}

.body {
   border: 4px;
   border-style: solid;
   border-color: black;
   margin: 4%;
   box-shadow: 6px 6px;
   
}

@media screen and (max-width: 750px) {

   .main img {
      display: none;
   }

   .mobilepicture {
      display: block;
      height: 100%;
      width: 100%;
   }

   .cart a {
      position: relative;
      right: -125px;
      bottom: 470px;
   }

   .header a {
      margin-right: 16px;
   }
}
